<h1>Takuya's Blogs</h1>
<%= image_tag 'top_image.jpg' %>

<div class="container">
  <ul class="row">
    <li class="col-md-6" about>このサイトについて</li>
    <li class="col-md-6" explanatory>Bootstrap課題:好きな内容を投稿することができます!</li>
  </ul>
  <ul class="row">
    <ul class="col-md-6">
      <ul class="row_A">
        <li class="col-md-12" about>使い方</li>
      </ul>
    </ul>
    <ul class="col-md-6">
      <ul class="row_B">
        <li class="col-md-12" explanatory>ブログ一覧から一覧の参照ができます</li>
        <li class="col-md-12" explanatory>新規登録・詳細確認・編集・削除にはユーザ登録が必要です</li>
        <li class="col-md-12" explanatory>「ユーザ登録」ページから登録したEmail・passwordでログインしてください</li>
        <li class="col-md-12" explanatory>新規登録の際にはTiltleとContentを入力してブログを作成してください</li>
        <li class="col-md-12" explanatory>TiltleとContentを入力できる文字数は1~140文字です</li>
      </ul>
    </ul>
  </ul>
</div>