<h1>Takuya's Blogs</h1>
<%= image_tag 'top_image.jpg' %>

<div class="container">
  <ul class="row">
    <li class="col-md-4">このサイトについて</li>
    <li class="col-md-4">Bootstraliシリーズ課題</li>
    <li class="col-md-4">使い方</li>
    <li class="col-md-4">ブログ一覧から新規ブログの作成ができます</li>
    <li class="col-md-4">TiltleとContentを入力してブログを作成してください</li>
    <li class="col-md-4">TiltleとContentを入力できる文字数は1~140文字です</li>
    <li class="col-md-4">投稿した内容は後から編集・削除が可能です</li>
  </ul>
</div>