<h1>Takuya's Blogs</h1>
<%= image_tag 'top_image.jpg' %>

<div class="container">
  <ul class="row">
    <li class="col-sm-6">このサイトについて</li>
    <li class="col-sm-6" explanatory>Bootstraliシリーズ課題:好きな内容を投稿することができます！</li>
  </ul>
  <li class="row">
    <li class="col-sm-6">
      <ul class="row_A">
        <li>使い方</li>
      </ul>
    </li>
    <li class="col-sm-6">
      <ul class="row_A">
        <li explanatory>ブログ一覧/新規作成から新規ブログの作成ができます</li>
        <li explanatory>TiltleとContentを入力してブログを作成してください</li>
        <li explanatory>TiltleとContentを入力できる文字数は1~160文字です</li>
        <li explanatory>投稿した内容は後から編集・削除が可能です</li>
      </ul>
    </li>     

  </ul>
</div>