<h1>Takuya's Blogs</h1>
<%= image_tag 'top_image.jpg' %>
<p>このサイトについて</p>
<p>Bootstrapシリーズ課題</p>
<p>使い方</p>
<p>ブログ一覧から新規ブログの作成ができます</p>
<p>TiltleとContentを入力してブログを作成してください</p>
<p>TiltleとContentを入力できる文字数は1~140文字です</p>
<p>投稿した内容は後から編集・削除が可能です</p>