<!DOCTYPE html>
<html>
<head>
  <title>例コード</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <ul>
      <li><a href="/">トップページ</a></li>
      <li><a href="/blogs">ブログ一覧</a></li>
    </ul>
  </header>

<%= yield %>

  <footer>
    <p>DIVE INTO CODE2018年8月期生</p>
    <p>© 2015-2016 Copyright DIVE INTO CODE Corp.</p>
  </footer>

</body>
</html>